ASSIGNMENT NO. 2

DATA TYPES AND STRUCTURES QUESTION

In [ ]:
#What are data structures and why are they important?
'''
- Data structure is a way of organising and storing data so that it can be accessed and manipulated efficiently .
- Data structure is important because :-
  1. Data structures allow for faster and more efficient data access, insertion, deletion, and searching.
  2. They makes it easier with large datasets by providing a systematic way to organise and manage data .
  3. It is problem solving .
  4. Well chosen data structures can make code easier to read , understand and maintain.
'''

In [ ]:
# Explain the difference between mutable and immutable data types with examples .
'''
MUTABLE DATA TYPES:
-Those whose values can be changed after they are created
 examples:
 1.my_list = [1,2,3]
   my_list.append(4) #modifying the list
   print(my_list) #output: [1,2,3,4]
IMMUTABLE DATA TYPES:
- Those whose values cannot be changed after they are created 
examples:
1.my_string = "hello"
  my_string[0]= "w" # this will gives an error 
'''

In [ ]:
# What are the main differences between lists and tuples in python ?
'''
- Difference between lists and tuples in python are :-
  1. lists are mutable object and tuples are immutable object.
  2. lists have dynamic length but tuples have fixed length.
  3. list syntax uses square brackets and tuple syntax uses round brackets.
'''

In [ ]:
# Describe how dictionaries store data ?
'''
-Dictionaries in python store data by using key value pairs.The key is used to uniquely identify the value.
-Dictionaries use harsh table. When a key is added harsh function convert it into unique index for store in memory .
-Dictionaries allow very fast access to values by using keys 
-In dictionaries each key must be unique but values can be duplicated.
-Dictionaries are mutable 
'''

In [ ]:
# Why might you use a set insted of a list in python ?
'''
- We see use of sets insted of list in python because sets cannot have duplicate of same element ,
  it makes sets highly useful to efficiently remove duplicate values from a list or tuples and to perform 
  common math operations like unions and intersections.
'''

In [ ]:
# Whatis a string in python, and how it is different from list ?
'''
- String is a sequence of characters that represent and manupulate textual data .
- list is mutable where as string are immutable .
- lists are use for storing collecting data where as string is use to represent text,names,labels ,etc.
'''

In [ ]:
# How do tuples ensure data integrity in python ?
'''
- Tuples are immutable to ensure that their contents remain constant throughout their lifecycle,
  guaranteeing data integrity and reliability .
  This immutability allows tuples to be used as keys in dictionaries and elements in sets , as they can be hashed .
'''

In [ ]:
# What is hash table, and how does it relate to dictionaries in python?
'''
- Hash table is a data structure that stores key value pairs and gives fast access to values based on their keys. 
  it convert the key into index in an underlying array.
- In python , built-in (dict) type is implemented using a hash table under the hood.
   . by using my_dict={'name': 'alice'}
   . hashes the key 'name'
   . uses that hash to find a location in memory 
   . stores the value 'alice' there
'''

In [ ]:
# Can lists contain different data types in python ?
'''
- Yes list contains different data types in python , it contains various mix type data such as :-
  1. an integer (42)
  2. a string ('hello')
  3. a float (3.42)
  4. a boolean (true)
  5. another list ([1,2])
  6. a dictionary ({"key" : "feature"})
'''

In [ ]:
# Explain why string are immutable in pyhton?
'''
- String in python are immutable , which means once a string is created , it cannot be changed .
  1. Efficiency and memory optimization 
   - python uses aa technique called string interning to store commonly - used string only once in memory . 
  2. Thread safety
   - since string can't be changed , they are safe to use across multiple threads without needing locks or other synchronization mechanisms.
  3. Hashability
   - immutable object can be hashed.
'''

In [ ]:
# What advantages do dictionaries offer over lists for certain tasks ?
'''
- Dictionaries offer many offer such as :-
  1. fast lookups
  2. key-value pair structure
  3. uniqueness of key 
  4. Direct access
  5. more semantic code
  6. flexibility with dynamic data 
'''

In [ ]:
# Describe a scenerio where using a tuple would be preferable over a list ?
'''
Tuples are immutable , which helps to protect the integrity of data but lists are mutable 
suppose a person having his addhar no. that should not be changed right , 
and if it is changeble so there is no protection of his data ,that's why tuple is must to use in this scenerio
'''

In [ ]:
# How do sets handle duplicate values in python ?
'''
- When you create a set , any duplicate elements are discarded, and only unique values are stored.
  for example :-
  my_set = {1,2,2,3,4,4,4}
  print(my_set)
  {1,2,3,4}
'''

In [ ]:
# How does the "in" keyword work differently for lists and dictionaries?
'''
IN WITH LIST :-
When you use 'in' with list , it checks value or element in the list .
example : list =[1,2,3,4]
          print(2 in list) true
          print(5 in list) false
IN WITH DICTIONARIES :-
when you use 'in' with dictionary , it checks the the key value exists in dictionay .
example : dict = {"a":1,"b:2"}
          print("a" in dict) true 
          print(1 in dict) false (values are ignored)
'''

In [ ]:
# Can you modify the elements of tuple? explain why or why not ?
'''
- No , you cannot change or modify the elements of tuple because tuple are immutable that means if it is created once it can't be change 
  but if tuple contains a mutable element then inside that element it can be changed like list.
'''

In [1]:
# what is nested dictionary , and give an example of its use case ?
'''
- nested dictionary is dictionary where you can find some of the values are themselves dictionaries . tis is also useful in presentation .
  example of use case :-
  lets assume you are managing a student database where each students has multiple attributes like name , grade , subjects etc.
'''
students ={
    'student_1':{
        'name': 'angel',
        'grade':{
            'math':70,
            'science': 60
        }
    },
    'student_2':{
        'name': 'rahul',
        'grade': {
            'math':80,
            'science':90
        }
    }
}

In [3]:
print(students['student_1']['grade']['math'])

70

In [ ]:
# Describe the time complexity of accessing elements in a dictionary ?
'''
the time complexity of accessing elements in a dictionaryis mainly access time = 0(1) on average 

'''

In [ ]:
# In what situations are lists preferred over dictionaries?
'''
1. when there is no key value pairs just need to store items in a specific order 
2. when you need to access items by index 
3. when you allow to use duplicate values 
4. list are easy to sort 
5. when you only need to collect the value .
'''

In [ ]:
# Why are dicionaries considered unordered , and how does that affect data retrieval?
'''
dictionaries in python considered unordered because dictionaries use a hash table under the hood , where keys are hashed to deytermine 
where their corresponding values are stored , the focus was on fast lookups , insertion , and deletion-not maintaining order .

how unordered nature affected data retrieval :-
1. you couldn't rely on interation order to be consistent.
2. sorting had to be explicity handled 

'''

In [ ]:
# Explain the difference between a list and a dictionary in terms of data retrieval?
'''
- difference between a list and a dictionary in term of data retrival are as follows :-
1. list are indexed by position where as dictionary are indexed by keys .
2. In list data is retrived by using index number where as in dictionary data is retrived by using the key , not the position.
'''

PRACTICAL QUESTIONS

In [1]:
# Write a cose to create a string with your name and print it ?
string = "saklain"
print(string)

saklain

In [2]:
type(string)

str

In [3]:
# Write a code to find the length of the string "hello world"
string = "hello world"
len(string)

11

In [9]:
# Write acode to slice the first 3 characters from the string"python programmingli  = [pyton programming]
string ="python programing"
list = string [:3]
print(list)

pyt

In [11]:
# Write a code to convert the string" hello " to uppercase 
string ="hello"
string.upper()

'HELLO'

In [12]:
# Write a code to replace the word "apple"with "orange" in string " i like apple "
string = "i like apple"
string.replace("apple","orange")

'i like orange'

In [15]:
# Write a code to create a list with the number 1 to 5 and print it 
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [16]:
# Write a code to append the number 10 to the list [1,2,3,4]
list =[1,2,3,4]
list.append(10)

In [17]:
print(list)

[1, 2, 3, 4, 10]

In [18]:
# Write a code to remove the number 3 from the list [1,2,3,4,5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [20]:
# Write a code to access the second element in the list ['a','b','c','d']
list=['a','b','c','d']
list[1]

'b'

In [21]:
# Write a code to reverse the list [10,20,30,40,50]
list=[10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

In [22]:
# Write a code to create a tuple with the elements 100,200,300 and print it 
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [25]:
# Write a code a access the second - to - last element of the tuple ('red','green','blue','yellow')
tuple = ('red','green','blue','yellow')
print(tuple[1:])

('green', 'blue', 'yellow')

In [27]:
# Write a code to find the minimum number in the tuple (10,20,5,15)
tuple = (10,20,5,15)
min(tuple)

5

In [28]:
# Write acode to find the index of the element"cat"in the tuple ('dog','cat','rabbit')
tuple=('dog','cat','rabbit')
tuple.index('cat')

1

In [30]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it .
tuple = ('mango','kiwi','apple')
if 'kiwi' in tuple:
    print('yes it is in tuple')

yes it is in tuple

In [31]:
# Write a code to create a set with the elements 'a','b','c' and print it 
set = {'a','b','c'}
print(set)

{'a', 'b', 'c'}

In [37]:
# Write a code to clear all the elements from the set {1,2,3,4,5}
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [38]:
# Write a code to remove the element 4 from the set {1,2,3,4}
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [39]:
# Write a code to find the union of two sets {1,2,3} and {3,4,5}
set1 = {1,2,3}
set2 = {3,4,5}
set.union(set1,set2)

{1, 2, 3, 4, 5}

In [41]:
# Write a code to find the intersection of two sets {1,2,3} and {2,3,4}
set1 = {1,2,3}
set2 = {2,3,4}
set.intersection(set1,set2)

{2, 3}

In [46]:
# Write a code to create a dictionary with the keys 'name','age','city',and print it 
dict = { 
    "name":"sumit",
    "age":23,
    "city":"dhanbad"
}
print(dict)

{'name': 'sumit', 'age': 23, 'city': 'dhanbad'}

In [2]:
# Write a code to add a new key value pair "country":"usa" to the dictionary{'name':'john','age':25}
dict = {'name':'john','age':25}
dict.update({"country":"usa"})
print(dict)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [5]:
# Write a code to access the value associated with the key "name" in the dictionary {'name':'alice','age':30}
dict = {'name':'alice','age':'30'}
dict_1=dict['name']
print(dict_1)

alice

In [11]:
# Write a code to remove the key "age" from the dictionary {'name':'bob','age':22,'city':'new york'}.
dict = {'name':'bob','age':22,'city':'new york'}
del dict['age']
print(dict)

{'name': 'bob', 'city': 'new york'}

In [12]:
# Write a code to check if the key "city" exists in dictionary {'name':'alice','city':'paris'}
dict = {'name':'alice','city':'paris'}
if 'city' in dict :
    print('yes it is in dict')
else:
    print('no it is not present')

yes it is in dict

In [14]:
# Write a code to create a list , a tuple,and a dictionary, and print them all.
list = [1,2,3]
tuple = (3,4,5)
dict = {'name':'rahul','age':22}
print(list)
print(tuple)
print(dict)

[1, 2, 3]
(3, 4, 5)
{'name': 'rahul', 'age': 22}

In [15]:
# Write a code to create a list of 5 random numbers between 1 and 100 , sort it in ascending order, and print the result 
list=[10,25,68,2,45,16]
list.sort()
print (list)

[2, 10, 16, 25, 45, 68]

In [17]:
# Write a code to create a list with strings and print the element at the third index 
list=['apple','banana','kiwi','ravi','ram']
list[3]

'ravi'

In [23]:
# Write a code to combine two dictionaries into one and print the result
dict_1 = {'name':'rahul','city':'dhanbad'}
dict_2 = {'name':'joy','city':'new york'}
dict_1 |= dict_2
print(dict_2)

{'name': 'joy', 'city': 'new york'}

In [ ]:
#  Write a code to convert a list of strings into a set